Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

Update README.md
  .github/README.md
Due: prettier --write

rename
  packages/zundo/README.md
Due: prettier --write

update image link
  .github/README.md
  README.md
  packages/zundo/README.md
Due: prettier --write

add author
  README.md
Due: prettier --write

Create FUNDING.yml
  .github/workflows/FUNDING.yml
Due: none

Delete FUNDING.yml
  .github/workflows/FUNDING.yml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

update deps
  apps/docs/package.json
  apps/web/package.json
  packages/eslint-config-custom/package.json
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

update more deps
  package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
Due: none

add size limit
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

small tweaks
  apps/web/pages/chained.tsx
  apps/web/pages/index.tsx
  packages/zundo/README.md
  packages/zundo/src/index.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

Update README.md
  packages/zundo/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

update readme for v2
  packages/zundo/README.md
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

remove readme
  README.md
Due: prettier --write

fix image link
  packages/zundo/README.md
Due: prettier --write

remove package size from test
  packages/zundo/package.json
Due: none

remove tsconfig for now
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

bump
  packages/zundo/package.json
Due: none

minzip badge
  packages/zundo/README.md
Due: prettier --write

fix deps
  packages/zundo/package.json
Due: none

fix issues with deps
  packages/zundo/package.json
Due: none

fix examples
  apps/web/pages/chained.tsx
  apps/web/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update readme
  packages/zundo/README.md
Due: prettier --write

bump peer
  packages/zundo/README.md
  packages/zundo/package.json
Due: prettier --write

bump peer (#51)
  packages/zundo/README.md
  packages/zundo/package.json
Due: prettier --write

2.0.0-beta.4
  packages/zundo/package.json
Due: none

move tests
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/temporal.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/testing/tsconfig.json
Due: eslint --fix, prettier --write

update package.json data
  packages/zundo/package.json
Due: none

move types
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

Clean up documentation for v2 Release
  packages/zundo/README.md
Due: prettier --write

update comments
  packages/zundo/src/index.ts
Due: eslint --fix, prettier --write

cleanup for v2 (#52)
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/temporal.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/tsconfig.json
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

small tweaks to types and docs
  packages/zundo/README.md
  packages/zundo/src/index.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

begin cleanup and organize tests
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

fix breaking test
  packages/zundo/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

trackingState --> trackingStatus
  packages/zundo/README.md
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write
