Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

some updates!
  README.md
Due: prettier --write

updates
  README.md
Due: prettier --write

add some periods
  README.md
Due: prettier --write

add handleSet example
  README.md
Due: prettier --write

first draft (#127)
  README.md
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/temporal.ts
  tests/__mocks__/zustand/index.mjs
  tests/__tests__/createVanillaTemporal.test.ts
  tests/__tests__/options.test.ts
  tests/__tests__/react.test.tsx
  tests/__tests__/zundo.test.ts
  tests/package.json
  tests/tsconfig.json
  tests/vitest.config.ts
  tests/vitest.setup.ts
  tsconfig.json
Due: eslint --fix, prettier --write

v2.0.0
  package.json
Due: none

fix typo
  README.md
Due: prettier --write

update to latest, this breaks things
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

continue to use gzip
  package.json
Due: none

use type module
  package.json
  tests/package.json
Due: none

use correct tester
  tests/__tests__/options.test.ts
  tests/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

switch to ts
  tests/__mocks__/zustand/index.ts
Due: eslint --fix, prettier --write

add typecheck and linting
  .eslintrc.json
  examples/web/next.config.mjs
Due: none

fix root dir issues for tests and fix potentially undefined
  tests/__tests__/options.test.ts
  tests/tsconfig.json
Due: eslint --fix, prettier --write

create separate size package to reduce shipped package.json size
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  size/package.json
Due: none

remove unneeded workspaces
  package.json
Due: none

bump deps, and now export cjs and esm (#136)
  .eslintrc.json
  examples/web/next.config.mjs
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/__mocks__/zustand/index.ts
  tests/__tests__/options.test.ts
  tests/__tests__/zundo.test.ts
  tests/package.json
  tests/tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write

rename
  tsconfig.json
Due: none

create separate size package to reduce shipped package.json size (#137)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  size/package.json
  tsconfig.json
Due: none

v2.0.1
  package.json
Due: none

Remove beta bundle size
  README.md
Due: prettier --write

ignore deps
  size/package.json
Due: none

fix: don't call handleSet if state hasn't changed
  src/index.ts
Due: eslint --fix, prettier --write

fix: add tests
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

fix: minor cleanup
  src/index.ts
  src/temporal.ts
Due: eslint --fix, prettier --write

fix: equality fn types
  src/types.ts
Due: eslint --fix, prettier --write

update: docs
  README.md
Due: prettier --write

fix: wrong type pick in docs
  README.md
Due: prettier --write

docs: expand on equality fn
  README.md
Due: prettier --write

add support for both esm and cjs
  package.json
Due: none

add support for both esm and cjs (#145)
  package.json
Due: none

v2.0.2
  package.json
Due: none

fix equality fn type and update docs (#144)
  README.md
  src/types.ts
Due: eslint --fix, prettier --write

fix TS usage on docs, small formatting
  README.md
Due: prettier --write

fix TS usage on docs, small formatting (#146)
  README.md
Due: prettier --write

bump deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

bump deps (#147)
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

v2.0.3
  package.json
Due: none

fix: handleSet changes option2
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix: cleanup
  src/index.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write
