Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

add lint-staged
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

add eslint
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

udpate lint staged
  .lintstagedrc
Due: none

udpate eslint prettier
  .eslintrc.json
  .lintstagedrc
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: none

add airbnb ts eslint config
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

add project source
  .eslintrc.json
Due: none

update project config
  .eslintrc.json
  tsconfig.json
Due: none

fix files to conform to eslint
  src/factory.ts
  src/index.ts
  src/middleware.ts
  src/types.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
Due: eslint --fix, prettier --write

update linting command
  package.json
Due: none

update script for windows?
  package.json
Due: none

only allow pnpm
  package.json
Due: none

update eslint and format
  .eslintrc.json
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
Due: eslint --fix, prettier --write

update prettier
  .prettierrc.json
Due: none

Bump deps and configure workspace (#27)
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/factory.ts
  src/index.ts
  src/middleware.ts
  src/types.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

v1.5.2
  package.json
Due: none

v1.5.2 (#29)
  package.json
Due: none

remove force pnpm
  package.json
Due: none

remove force pnpm (#30)
  package.json
Due: none

bump deps
  package.json
  pnpm-lock.yaml
Due: none

update dev
  package.json
  pnpm-lock.yaml
Due: none

regen lockfile
  pnpm-lock.yaml
Due: none

bump deps (#31)
  package.json
  pnpm-lock.yaml
Due: none

1.5.8
  package.json
Due: none

Replaced omit with exclude and include
  README.md
  src/factory.ts
  src/middleware.ts
  src/types.ts
  src/utils.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
Due: eslint --fix, prettier --write

Fixed the deprecated comment and bumped the version to 1.5.9
  package.json
  src/types.ts
  stories/bees.stories.tsx
Due: eslint --fix, prettier --write

Replaced omit with exclude and include (#33)
  README.md
  package.json
  src/factory.ts
  src/middleware.ts
  src/types.ts
  src/utils.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
Due: eslint --fix, prettier --write

revert version
  package.json
Due: none

1.5.9
  package.json
Due: none

update types
  package.json
  pnpm-lock.yaml
  src/factory.ts
  src/index.ts
  src/middleware.ts
  src/types.ts
  src/utils.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/new.stories.tsx
  stories/no-zustand-import.stories.tsx
  test/middleware.test.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Renamed clear to clearUndoHistory
  README.md
  src/factory.ts
  src/middleware.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/cool-off.stories.tsx
Due: eslint --fix, prettier --write

Updated undo and redo to accept a number of steps
  README.md
  src/factory.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
  test/middleware.test.tsx
Due: eslint --fix, prettier --write

Bumped the version to 2.0.0
  package.json
Due: none

Added the mascot image and fixed the version number
  README.md
  package.json
  zundo-mascot.png
  zundo.gif
Due: prettier --write

Updated undo and redo to accept a number of steps (#32)
  README.md
  package.json
  src/factory.ts
  src/middleware.ts
  stories/allow-unchanged.stories.tsx
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
  test/middleware.test.tsx
  zundo-mascot.png
  zundo.gif
Due: eslint --fix, prettier --write

add beta version
  package.json
Due: none

Pass all args to set
  src/middleware.ts
Due: eslint --fix, prettier --write

added story and named actions for undo / redo
  src/factory.ts
  src/middleware.ts
  stories/devtools.stories.tsx
Due: eslint --fix, prettier --write

Added other-middlewares storybook
  stories/other-middlewares.stories.tsx
Due: eslint --fix, prettier --write
