Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

switch to temporal state creator (#116)
  __tests__/createVanillaTemporal.test.ts
  src/index.ts
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.22
  package.json
Due: none

shave bytes
  src/temporal.ts
Due: eslint --fix, prettier --write

821 B
  src/temporal.ts
Due: eslint --fix, prettier --write

readability 821 B
  src/temporal.ts
Due: eslint --fix, prettier --write

update comment
  src/temporal.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

while loop --> array methods (#117)
  src/temporal.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.23
  package.json
Due: none

801 B, but store.setState is not called.
  src/index.ts
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

add debounce example
  README.md
Due: prettier --write

shave 2 bytes by updating deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

shave 2 bytes by updating deps (#120)
  examples/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

2.0.0-beta.24
  package.json
Due: none

add diff
  examples/web/package.json
  examples/web/pages/diff.tsx
  pnpm-lock.yaml
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

bump deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  vitest.setup.ts
Due: eslint --fix, prettier --write

bump deps (#122)
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  vitest.setup.ts
Due: eslint --fix, prettier --write

byte shave
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

add microdiff
  examples/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

add esModuleInterop and format
  examples/web/tsconfig.json
Due: none

fix type issue `null`
  examples/web/pages/diff.tsx
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

update tests
  __tests__/options.test.ts
  examples/web/pages/diff.tsx
Due: eslint --fix, prettier --write

update docs
  README.md
Due: prettier --write

feat: add `diff` option to track state deltas (#123)
  README.md
  __tests__/options.test.ts
  examples/web/package.json
  examples/web/pages/diff.tsx
  examples/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

add diffing during undo and redo
  README.md
  __tests__/options.test.ts
  examples/web/pages/diff.tsx
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

add comments
  src/temporal.ts
Due: eslint --fix, prettier --write

add diffing during undo and redo (#125)
  README.md
  __tests__/options.test.ts
  examples/web/pages/diff.tsx
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.25
  package.json
Due: none

switch to json or mjs
  __mocks__/zustand/index.mjs
  examples/web/.eslintrc.js
  examples/web/.eslintrc.json
  examples/web/next.config.mjs
Due: eslint --fix, prettier --write

switch to json or mjs (#126)
  __mocks__/zustand/index.mjs
  examples/web/.eslintrc.js
  examples/web/.eslintrc.json
  examples/web/next.config.mjs
Due: eslint --fix, prettier --write

first draft
  README.md
Due: prettier --write

bun install
  bun.lockb
  examples/web/package.json
Due: none

remove pnpm
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

bun build
  __tests__/options.test.ts
  __tests__/react.test.tsx
  __tests__/zundo.test.ts
  package.json
Due: eslint --fix, prettier --write

create tests folder
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/temporal.ts
  tests/__mocks__/zustand/index.mjs
  tests/__tests__/createVanillaTemporal.test.ts
  tests/__tests__/options.test.ts
  tests/__tests__/react.test.tsx
  tests/__tests__/zundo.test.ts
  tests/package.json
  tests/vitest.config.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

bump deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

remove types/node from root
  package.json
  pnpm-lock.yaml
Due: none

add back vite
  pnpm-lock.yaml
  tests/package.json
  tests/tsconfig.json
  tsconfig.json
Due: none

update node types
  examples/web/package.json
  pnpm-lock.yaml
Due: none
