Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

formatting
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

fix tests
  packages/zundo/__tests__/react.test.tsx
Due: eslint --fix, prettier --write

shave 3 bytes: don't re-create object
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

save 2 bytes: don't create object
  packages/zundo/src/index.ts
Due: eslint --fix, prettier --write

restructure __internals to shave bytes; add react tests (#82)
  apps/web/pages/reactive.tsx
  apps/web/tsconfig.json
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/react.test.tsx
  packages/zundo/__tests__/setup.ts
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  packages/zundo/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

v2.0.0-beta.13
  packages/zundo/package.json
Due: none

switch config for better types and save bytes (#83)
  packages/zundo/__tests__/options.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.14
  packages/zundo/package.json
Due: none

add docs
  packages/zundo/README.md
Due: prettier --write

add note about limit
  packages/zundo/README.md
Due: prettier --write

init states (#81)
  apps/web/pages/separate.tsx
  packages/zundo/README.md
  packages/zundo/__tests__/options.test.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.15
  packages/zundo/package.json
Due: none

remove unused type
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

pnpm i vitest-localstorage-mock
  packages/zundo/package.json
Due: none

pnpm i vitest-localstorage-mock
  pnpm-lock.yaml
Due: none

switch to dev
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

fix types
  apps/web/package.json
  apps/web/pages/persist.tsx
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update types
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

add more tests
  apps/web/pages/persist.tsx
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

create type aliases
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

Update README.md
  packages/zundo/README.md
Due: prettier --write

target ESNext
  packages/zundo/tsconfig.json
Due: none

Add middleware to temporal store (#86)
  apps/web/package.json
  apps/web/pages/persist.tsx
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/README.md
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  packages/zundo/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

try updating stuff
  apps/web/pages/wrapped.tsx
  apps/web/tsconfig.json
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.16
  packages/zundo/package.json
Due: none

update tests
  apps/web/tsconfig.json
  packages/zundo/__tests__/options.test.ts
Due: eslint --fix, prettier --write

update more tests
  packages/zundo/__tests__/options.test.ts
Due: eslint --fix, prettier --write

remove unused tests
  packages/zundo/__tests__/options.test.ts
Due: eslint --fix, prettier --write

support better wrapTemporal
  apps/web/pages/wrapped.tsx
  packages/zundo/README.md
  packages/zundo/__tests__/options.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  packages/zundo/tsconfig.json
Due: eslint --fix, prettier --write

add backwards compat
  packages/zundo/src/index.ts
Due: eslint --fix, prettier --write

add missing backwards compat
  packages/zundo/src/index.ts
Due: eslint --fix, prettier --write

remove handleSet from readme
  packages/zundo/README.md
Due: prettier --write

bump deps
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

refactor for less closures
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

some simplifications
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

fix test
  packages/zundo/__tests__/options.test.ts
Due: eslint --fix, prettier --write

some simplifications
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

add note about what to test more of
  packages/zundo/__tests__/options.test.ts
Due: eslint --fix, prettier --write

shrink bundle
  packages/zundo/src/index.ts
Due: eslint --fix, prettier --write
