Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

initially support v5
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  tests/__mocks__/zustand/index.ts
  tests/__tests__/options.test.ts
  tests/package.json
  tests/tsconfig.json
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

update examples
  examples/web/pages/chained.tsx
  examples/web/pages/diff.tsx
  examples/web/pages/index.tsx
  examples/web/pages/input.tsx
  examples/web/pages/nested.tsx
  examples/web/pages/persist.tsx
  examples/web/pages/reactive.tsx
  examples/web/pages/separate.tsx
  examples/web/pages/setstate.tsx
  examples/web/pages/throttle.tsx
  examples/web/pages/wrapped.tsx
Due: eslint --fix, prettier --write

add note
  examples/web/pages/nested.tsx
Due: eslint --fix, prettier --write

update workflow versions
  .github/workflows/build.yml
Due: none

fix syntax
  .github/workflows/build.yml
Due: none

update readme helper function
  .github/workflows/build.yml
  README.md
  examples/web/pages/diff.tsx
Due: eslint --fix, prettier --write

update peer deps version
  package.json
Due: none

Revert "update peer deps version"
  package.json
Due: none

update peer deps
  package.json
Due: none

update readme typo
  README.md
Due: prettier --write

use new useStore api
  README.md
Due: prettier --write

initially support v5 (#189)
  .github/workflows/build.yml
  README.md
  examples/web/package.json
  examples/web/pages/chained.tsx
  examples/web/pages/diff.tsx
  examples/web/pages/index.tsx
  examples/web/pages/input.tsx
  examples/web/pages/nested.tsx
  examples/web/pages/persist.tsx
  examples/web/pages/reactive.tsx
  examples/web/pages/separate.tsx
  examples/web/pages/setstate.tsx
  examples/web/pages/throttle.tsx
  examples/web/pages/wrapped.tsx
  package.json
  pnpm-lock.yaml
  src/index.ts
  tests/__mocks__/zustand/index.ts
  tests/__tests__/options.test.ts
  tests/package.json
  tests/tsconfig.json
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

bump deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

use node 22
  .github/workflows/build.yml
Due: none

bump deps (#192)
  .github/workflows/build.yml
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

v2.3.0
  package.json
Due: none

added slices pattern example
  README.md
  examples/web/next-env.d.ts
  examples/web/package.json
  examples/web/pages/slices.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

uninstall devtools
  examples/web/package.json
  pnpm-lock.yaml
Due: none

revert pnpm lock change
  pnpm-lock.yaml
Due: none

Added slices pattern example (#194)
  README.md
  examples/web/next-env.d.ts
  examples/web/pages/slices.tsx
Due: eslint --fix, prettier --write

bump deps
  examples/web/next-env.d.ts
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: eslint --fix, prettier --write

add structured clone polyfill for node v16 testing
  tests/package.json
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

monkey-patch
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

package lock
  pnpm-lock.yaml
Due: none

remove structured clone polyfill
  .github/workflows/build.yml
  package.json
  pnpm-lock.yaml
  tests/package.json
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

remove specified package manager
  package.json
Due: none

test with node 18
  .github/workflows/build.yml
Due: none

bump deps (#198)
  .github/workflows/build.yml
  examples/web/next-env.d.ts
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: eslint --fix, prettier --write

add community
  README.md
Due: prettier --write

add community (#199)
  README.md
Due: prettier --write

Update README with corrected persist temporal example
  README.md
Due: prettier --write

Update README with corrected persist temporal example (#205)
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx,md,html,css}) or ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,css}))
