Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

init turbo
  zundo/.eslintrc.js
  zundo/.gitignore
  zundo/README.md
  zundo/apps/docs/.eslintrc.js
  zundo/apps/docs/README.md
  zundo/apps/docs/next-env.d.ts
  zundo/apps/docs/next.config.js
  zundo/apps/docs/package.json
  zundo/apps/docs/pages/index.tsx
  zundo/apps/docs/tsconfig.json
  zundo/apps/web/.eslintrc.js
  zundo/apps/web/README.md
  zundo/apps/web/next-env.d.ts
  zundo/apps/web/next.config.js
  zundo/apps/web/package.json
  zundo/apps/web/pages/index.tsx
  zundo/apps/web/tsconfig.json
  zundo/package.json
  zundo/packages/eslint-config-custom/index.js
  zundo/packages/eslint-config-custom/package.json
  zundo/packages/tsconfig/README.md
  zundo/packages/tsconfig/base.json
  zundo/packages/tsconfig/nextjs.json
  zundo/packages/tsconfig/package.json
  zundo/packages/tsconfig/react-library.json
  zundo/packages/ui/Button.tsx
  zundo/packages/ui/index.tsx
  zundo/packages/ui/package.json
  zundo/packages/ui/tsconfig.json
  zundo/pnpm-lock.yaml
  zundo/pnpm-workspace.yaml
  zundo/turbo.json
Due: eslint --fix, prettier --write

configure tsup
  zundo/apps/web/package.json
  zundo/apps/web/pages/index.tsx
  zundo/packages/zundo/.gitignore
  zundo/packages/zundo/package.json
  zundo/packages/zundo/src/index.ts
  zundo/packages/zundo/tsup.config.ts
  zundo/pnpm-lock.yaml
Due: eslint --fix, prettier --write

add basics of zundo temporal functionality
  .vscode/settings.json
  zundo/apps/web/package.json
  zundo/apps/web/pages/index.tsx
  zundo/packages/zundo/package.json
  zundo/packages/zundo/src/index.ts
  zundo/packages/zundo/src/temporal.ts
  zundo/packages/zundo/tsup.config.ts
  zundo/pnpm-lock.yaml
Due: eslint --fix, prettier --write

simplify api
  zundo/apps/web/pages/index.tsx
  zundo/packages/zundo/src/index.ts
Due: eslint --fix, prettier --write

add test
  .vscode/settings.json
  packages/eslint-config-custom/package.json
  packages/zundo/jest.config.js
  packages/zundo/package.json
  packages/zundo/readme.md
  packages/zundo/src/__tests__/temporal.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/tsconfig.json
  packages/zundo/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

add back apps
  .eslintrc.js
  .eslintrc.json
  CONTRIBUTING.md
  apps/docs/.eslintrc.js
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
  package.json
  packages/ui/package.json
  packages/zundo/babel.config.js
  packages/zundo/jest.config.js
  packages/zundo/package.json
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/tsconfig.json
  packages/zundo/src/tsconfig.json
  packages/zundo/tsconfig.json
  packages/zundo/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

use vitetest and mocks
  packages/zundo/__mocks__/zustand/vanilla.js
  packages/zundo/babel.config.js
  packages/zundo/jest.config.js
  packages/zundo/package.json
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

update zustand to v4
  apps/web/package.json
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

add partialize
  .vscode/settings.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

add steps to undo and redo
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

support zustand v4
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/middleware.ts
  stories/multiple-undo.stories.tsx
Due: eslint --fix, prettier --write

support zustand v4 (#41)
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/middleware.ts
  stories/multiple-undo.stories.tsx
Due: eslint --fix, prettier --write

add jest types
  package.json
  pnpm-lock.yaml
Due: none

1.6.0
  package.json
Due: none

reworked types, methods now on useStore
  src/factory.ts
  src/middleware.ts
  src/types.ts
  stories/other-middlewares.stories.tsx
Due: eslint --fix, prettier --write

switch from State to object type
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

remove deprecated types
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

add `pause`, `resume` and `state`
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

support for named actions, general cleanup
  src/factory.ts
  src/index.ts
  src/middleware.ts
  src/types.ts
  stories/bears.stories.tsx
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/devtools.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
  stories/other-middlewares.stories.tsx
Due: eslint --fix, prettier --write

type fix
  src/types.ts
Due: eslint --fix, prettier --write

hacky fix: ts ignore
  src/middleware.ts
Due: eslint --fix, prettier --write

reworked types, methods now on useStore (#44)
  src/factory.ts
  src/index.ts
  src/middleware.ts
  src/types.ts
  stories/bees.stories.tsx
  stories/cool-off.stories.tsx
  stories/devtools.stories.tsx
  stories/multiple-undo.stories.tsx
  stories/no-zustand-import.stories.tsx
  stories/other-middlewares.stories.tsx
Due: eslint --fix, prettier --write

remove tests for now
  test/app.test.tsx
  test/middleware.test.tsx
Due: eslint --fix, prettier --write

2.0.0-experimental.0
  package.json
Due: none

add limit option and fix logic
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

add missing partialize test
  packages/zundo/src/testing/__tests__/options.test.ts
Due: eslint --fix, prettier --write

add equality function support
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
Due: eslint --fix, prettier --write

fix example
  apps/web/pages/index.tsx
Due: eslint --fix, prettier --write

onSave
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  packages/zundo/src/testing/__tests__/temporal.test.ts
  packages/zundo/src/testing/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

update dev deps
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

add tests for secret internals
  packages/zundo/src/testing/__tests__/options.test.ts
Due: eslint --fix, prettier --write

add handleSet middleware and update example
  apps/web/package.json
  apps/web/pages/index.tsx
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

simplify types for v4.1.0
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/testing/__tests__/options.test.ts
Due: eslint --fix, prettier --write

add chained middleware example
  apps/web/pages/chained.tsx
Due: eslint --fix, prettier --write

remove workflow for now
  .github/workflows/main.yml
Due: none

add readme symlink: https://stackoverflow.com/a/49981731/9931154
  .github/README.md
  README.md
  packages/zundo/readme.md
Due: prettier --write

update readme location
  .github/README.md
  README.md
Due: prettier --write

try moving readme
  .github/README.md
  README.md
Due: prettier --write
