Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

test handleUserSet
  packages/zundo/README.md
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

small tweaks to types and docs (#53)
  packages/zundo/README.md
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

bump dev deps
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

pin deps
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

bump dev deps (#54)
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

2.0.0-beta.5
  packages/zundo/package.json
Due: none

add subscribeWithSelector demo
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/README.md
Due: eslint --fix, prettier --write

update react docs
  packages/zundo/README.md
Due: prettier --write

add subscribeWithSelector demo, react docs (#56)
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/README.md
Due: eslint --fix, prettier --write

create new arrays
  apps/web/pages/separate.tsx
  packages/zundo/src/temporal.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

updates tests to get latest value
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

create new arrays (#58)
  apps/web/pages/separate.tsx
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/temporal.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

v2.0.0-beta.6
  packages/zundo/package.json
Due: none

fix step bug not reversing order
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

2.0.0-beta.7
  packages/zundo/package.json
Due: none

fix step bug not reversing order (#60)
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/package.json
  packages/zundo/src/temporal.ts
Due: eslint --fix, prettier --write

v2.0.0-beta.8
  packages/zundo/package.json
Due: none

proof of concept for in-state temporal store
  .gitignore
  apps/web/package.json
  apps/web/pages/persist.tsx
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix missing temporal functions after persistence merge
  apps/web/pages/persist.tsx
Due: eslint --fix, prettier --write

Revert "fix missing temporal functions after persistence merge"
  apps/web/pages/persist.tsx
Due: eslint --fix, prettier --write

Revert "proof of concept for in-state temporal store"
  .gitignore
  apps/web/package.json
  apps/web/pages/persist.tsx
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

disable tests
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

working prototype
  apps/web/package.json
  apps/web/pages/persist.tsx
  apps/web/pages/subscribeWithSelector.tsx
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix persistence merge issue
  apps/web/pages/persist.tsx
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

fix: support zustand@4.3.x
  apps/web/package.json
  apps/web/pages/chained.tsx
  apps/web/pages/index.tsx
  packages/zundo/README.md
  packages/zundo/__mocks__/zustand/vanilla.js
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

add github action
  .github/workflows/build.yml
  .gitignore
  packages/zundo/package.json
Due: none

fix: support zustand@4.3.x (#63)
  apps/web/package.json
  apps/web/pages/chained.tsx
  apps/web/pages/index.tsx
  packages/zundo/README.md
  packages/zundo/__mocks__/zustand/vanilla.js
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/package.json
  packages/zundo/src/index.ts
  packages/zundo/src/temporal.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

bump deps
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  packages/zundo/package.json
  pnpm-lock.yaml
Due: none

update naming to follow zustand
  apps/web/pages/index.tsx
  packages/zundo/__mocks__/zustand/index.js
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

update docs
  packages/zundo/README.md
Due: prettier --write

cleanup for next release (#65)
  apps/docs/package.json
  apps/web/package.json
  apps/web/pages/index.tsx
  package.json
  packages/eslint-config-custom/package.json
  packages/ui/package.json
  packages/zundo/README.md
  packages/zundo/__mocks__/zustand/index.js
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/package.json
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

v2.0.0-beta.9
  packages/zundo/package.json
Due: none

disable tests again
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
  packages/zundo/src/index.ts
Due: eslint --fix, prettier --write

rewrite logic to allow all kinds on middlewares
  apps/web/package.json
  apps/web/pages/persist.tsx
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
Due: eslint --fix, prettier --write

reenable tests
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/__tests__/options.test.ts
  packages/zundo/__tests__/zundo.test.ts
Due: eslint --fix, prettier --write

add storeWrap option test
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/package.json
  packages/zundo/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: revert junit related stuff
  .github/workflows/build.yml
  .gitignore
  packages/zundo/junit.xml
  packages/zundo/package.json
Due: none

rename injector to store wrapper
  apps/web/pages/persist.tsx
  packages/zundo/__tests__/createVanillaTemporal.test.ts
  packages/zundo/src/temporal.ts
  packages/zundo/src/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

uncomment selector subscriber
  apps/web/pages/subscribeWithSelector.tsx
Due: eslint --fix, prettier --write

chore: remove leftover junit.xml
  packages/zundo/junit.xml
Due: none
