Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

fix: add test
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

fix: don't call handleSet if state hasn't changed
  src/index.ts
Due: eslint --fix, prettier --write

fix: add tests
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

fix: minor cleanup
  src/index.ts
  src/temporal.ts
Due: eslint --fix, prettier --write

Include deep equal example
  README.md
Due: prettier --write

add just-debounce-it example
  README.md
Due: prettier --write

handleSet always takes all params)
  src/index.ts
  src/temporal.ts
  src/types.ts
Due: eslint --fix, prettier --write

refactor: be consistent between state setting methods and dry code
  src/index.ts
Due: eslint --fix, prettier --write

refactor: bring currentState and deltaState into temporalHandleSet
  src/index.ts
Due: eslint --fix, prettier --write

Add more examples (#148)
  README.md
Due: prettier --write

update to 700 B
  README.md
  size/package.json
Due: prettier --write

ignore deps
  size/package.json
Due: none

zustand optional false
  package.json
Due: none

add another example
  examples/web/pages/options.tsx
Due: eslint --fix, prettier --write

update to 700 B (#150)
  README.md
  examples/web/pages/options.tsx
  package.json
  size/package.json
Due: eslint --fix, prettier --write

address PR feedback, remove stale test, update README
  README.md
  src/index.ts
  src/temporal.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

handleSet refactor option 3 (#149)
  README.md
  src/index.ts
  src/temporal.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

refactor: remove _handleSet from _TemporalState
  src/index.ts
  src/temporal.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

bump deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/package.json
Due: none

bump deps (#155)
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/package.json
Due: none

3.0.0-beta.0
  package.json
Due: none

initial pass at simplifying handleSet
  README.md
  examples/web/pages/index.tsx
  examples/web/pages/options.tsx
  src/index.ts
  src/temporal.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

v2.1.0
  package.json
Due: none

fix: override store.setState to fix failing wrapTemporal tests
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

fix: remove unnecessary state spreading and add test
  src/index.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

switch to happy-dom
  pnpm-lock.yaml
  tests/package.json
  tests/vitest.config.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

update deps to latest
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
Due: none

switch to happy-dom and bump deps (#162)
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  tests/package.json
  tests/vitest.config.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

make update about reactive data
  README.md
Due: prettier --write

[v3] remove _handleSet from _TemporalState (#154)
  src/index.ts
  src/temporal.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

simplify handle set
  README.md
  examples/web/pages/chained.tsx
  examples/web/pages/index.tsx
  examples/web/pages/options.tsx
  src/index.ts
  src/types.ts
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

remove extra `isTracking` check
  src/index.ts
Due: eslint --fix, prettier --write

setup jsr config
  .github/workflows/publish.yml
  jsr.json
Due: none

make update about reactive data (#165)
  README.md
Due: prettier --write

update publish include
  jsr.json
Due: none

add linebreak
  .github/workflows/publish.yml
Due: none

setup jsr config (#164)
  .github/workflows/publish.yml
  jsr.json
Due: none

Revert "setup jsr config (#164)"
  .github/workflows/publish.yml
  jsr.json
Due: none

Revert "setup jsr config" (#167)
  .github/workflows/publish.yml
  jsr.json
Due: none

try adding matrix
  .github/workflows/build.yml
Due: none
