Repository charkour/zundo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,html,css}": "prettier --write"
}

add workspace flag
  .github/workflows/build.yml
Due: none

adjust versions in matrix
  .github/workflows/build.yml
Due: none

try with single version
  .github/workflows/build.yml
Due: none

fix spying on wrong function
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

fix spying on wrong function (#169)
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

test with various verions
  .github/workflows/build.yml
Due: none

switch to lower version
  .github/workflows/build.yml
Due: none

try using sed
  .github/workflows/build.yml
Due: none

fix syntax
  .github/workflows/build.yml
Due: none

update sed command
  .github/workflows/build.yml
Due: none

bump action versions
  .github/workflows/build.yml
Due: none

change to zustand v4
  .github/workflows/build.yml
Due: none

add v5-alpha.5
  .github/workflows/build.yml
Due: none

update readme
  README.md
Due: prettier --write

Add Test Matrix (#168)
  .github/workflows/build.yml
  README.md
Due: prettier --write

chore: update deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/package.json
Due: none

update matrix and version
  .github/workflows/build.yml
Due: none

chore: update deps (#173)
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/package.json
Due: none

update matrix and version (#174)
  .github/workflows/build.yml
Due: none

add vitest coverage
  pnpm-lock.yaml
  tests/package.json
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

add more test coverage
  tests/__tests__/options.test.ts
Due: eslint --fix, prettier --write

add coverage
  .github/workflows/build.yml
  .github/workflows/coverage.yml
Due: none

bump deps
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/package.json
Due: none

remove unused
  pnpm-lock.yaml
  tests/package.json
Due: none

remove cache
  .github/workflows/build.yml
  pnpm-lock.yaml
  tests/package.json
Due: none

add vitest coverage (#175)
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/__tests__/options.test.ts
  tests/package.json
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

some updates
  .gitignore
  package.json
  tests/__tests__/react.test.tsx
  tests/package.json
  tests/vitest.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

some updates (#178)
  .gitignore
  package.json
  tests/__tests__/react.test.tsx
  tests/package.json
  tests/vitest.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Add input example and update types
  examples/web/pages/input.tsx
  examples/web/pages/options.tsx
  examples/web/pages/persist.tsx
  examples/web/pages/reactive.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

use local ts version
  .vscode/settings.json
Due: none

run prettier
  examples/web/pages/options.tsx
  tests/__tests__/options.test.ts
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

remove v5 support
  .github/workflows/build.yml
  README.md
  package.json
Due: prettier --write

bump deps and remove v5 support (#186)
  .github/workflows/build.yml
  .vscode/settings.json
  README.md
  examples/web/package.json
  examples/web/pages/options.tsx
  package.json
  pnpm-lock.yaml
  size/package.json
  tests/__tests__/options.test.ts
  tests/package.json
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

Add input example and update types (#185)
  examples/web/pages/input.tsx
  examples/web/pages/persist.tsx
  examples/web/pages/reactive.tsx
Due: eslint --fix, prettier --write

v2.2.0
  package.json
Due: none

v5 rc and update tests
  .github/workflows/build.yml
  examples/web/package.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  tests/__mocks__/zustand/index.ts
  tests/__tests__/createVanillaTemporal.test.ts
  tests/__tests__/options.test.ts
  tests/__tests__/react.test.tsx
  tests/__tests__/zundo.test.ts
  tests/global.d.ts
  tests/package.json
  tests/tsconfig.json
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

use latest zustand testing docs
  tests/__mocks__/zustand/index.ts
  tests/__tests__/createVanillaTemporal.test.ts
  tests/__tests__/options.test.ts
  tests/__tests__/react.test.tsx
  tests/__tests__/zundo.test.ts
  tests/tsconfig.json
  tests/vitest.config.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write

tweak react test
  tests/__tests__/react.test.tsx
Due: eslint --fix, prettier --write

use latest zustand testing docs (#188)
  tests/__mocks__/zustand/index.ts
  tests/__tests__/createVanillaTemporal.test.ts
  tests/__tests__/options.test.ts
  tests/__tests__/react.test.tsx
  tests/__tests__/zundo.test.ts
  tests/tsconfig.json
  tests/vitest.config.ts
  tests/vitest.setup.ts
Due: eslint --fix, prettier --write
